---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Layout from 'astro-travelens/Layout.astro'
import Header from 'astro-travelens/Header.astro'
import Tags from 'astro-travelens/Tags.astro'
import Footer from 'astro-travelens/Footer.astro'

interface Props {
  post: CollectionEntry<'post'>
}

const { post } = Astro.props

const slugify = (url: string) =>
  url
    .toLowerCase()
    .replace(/[^a-z0-9 -]/g, '')
    .replace(/\s+/g, '-')
---

<Layout
  title={post.data.title}
  description={post.data.description}
  date={post.data.date}
  image={post.data.image}
  tags={post.data.tags}
>
  <Header />
  <div class="bg-black flex w-full items-center justify-center relative overflow-hidden -mt-24">
    <div class="h-96 relative">
      <Image src={post.data.image} class="opacity-75 w-full object-cover" alt={post.data.title} />
    </div>
  </div>
  <div class="mx-auto px-12 pt-12 bg-white max-w-4xl relative z-10 -mt-32 lg:px-24">
    <a href={`${import.meta.env.BASE_URL}`}>
      <h2 class="text-xs text-gray-600 tracking-widest mt-4 uppercase hover:text-pink">
        {post.data.trip}
      </h2>
    </a>
    <div class="text-neutral-600 my-2 flex items-center">
      <a href={'/place/' + slugify(post.data.place)} class="hover:text-pink">
        <span class="i-fa6-solid-globe h-4 w-4"></span>
        <span class="ml-1">{post.data.place}</span>
      </a>
      <span class="i-fa6-solid-angles-right mx-4 h-4 w-4"></span>
      <span class="i-fa6-solid-location-arrow h-4 w-4"></span>
      <span class="ml-1">{post.data.location}</span>
    </div>
    <h1 class="font-display text-2xl text-gray-900 mt-4 md:text-3xl">
      {post.data.title}
    </h1>
    <Tags tags={post.data.tags} />
    <div class="text-neutral-600 my-2 flex items-center">
      <span class="i-fa6-solid-calendar-days h-6 w-6"></span>
      <span class="ml-1">
        {
          new Date(post.data.date).toLocaleString('en-AU', {
            dateStyle: 'full',
            timeStyle: 'long',
            timeZone: post.data.timezone
          })
        }
      </span>
    </div>

    <div class="mt-6 italic prose prose-sm sm:prose lg:prose-lg">
      {post.data.description}
    </div>
    <hr class="border-0 rounded bg-pink-200 h-1 w-full" />
  </div>
  <slot />
  <Footer />
</Layout>
